<div class="card">
  <div class="image">
    <img
      class="w-full"
      src="https://v1.tailwindcss.com/img/card-top.jpg"
      alt="Sunset in the mountains"
    />
  </div>
  <div class="description">
    <h1 class="text-xl">Title</h1>
    <br />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sed
      numquam, impedit laudantium amet dignissimos odit eum fugiat, mollitia
      magni officiis natus quos ipsum at, laboriosam error alias quaerat! Magni!
      Harum ex temporibus molestias, obcaecati nemo inventore neque iure, maxime
      iusto eaque exercitationem dolor ullam adipisci quasi amet, iste nam autem
      esse praesentium provident nisi perferendis minima consequatur?
      Voluptatibus, iusto.
    </p>
    <br />
    <div class="tags">
      <ul>
        <li>#info</li>
        <li>#info2</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="bg-card rounded overflow-hidden shadow-lg text-white">
  <img
    class="w-full"
    src="https://v1.tailwindcss.com/img/card-top.jpg"
    alt="Sunset in the mountains"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
    <p class="text-white text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#photography</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#travel</span
    >
    <span
      class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
      >#winter</span
    >
  </div>
</div> -->
